<% content_for :side_bar do %>
<h2>创建医生账号</h2>
<%= render :partial => "shared/error_messages", :locals => {:var => @doctor }%>
<%= form_for @doctor, url: doctors_path do |f|%>
  <%= render :partial => "form", :locals => {:f => f} %>
  <%= f.submit "创建账户", class: "btn btn-primary"%>
<% end %>
<% end %>
